DB_URL=jdbc:mysql://localhost:3306/campus_share?createDatabaseIfNotExist=true&serverTimezone=UTC
DB_USERNAME=root
DB_PASSWORD=password
JWT_SECRET=replace-with-a-long-random-secret-of-at-least-32-characters
JWT_ACCESS_EXPIRATION_MS=900000
JWT_REFRESH_EXPIRATION_MS=604800000
CLOUDINARY_CLOUD_NAME=demo
CLOUDINARY_API_KEY=demo_key
CLOUDINARY_API_SECRET=demo_secret
APP_ADMIN_EMAIL=admin@campus.edu
APP_ADMIN_PASSWORD=ChangeMe123!
